<footer class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h3>About</h3>
					<div class="about-the-store">
						<p>yosr.com offers you flexible and responsive listing experience.</p>
						<ul class="footer-contact-info">
							<li><i class="bx bx-map"></i><a href="#" target="_blank">Marina Plaza, Dubai, UAE</a></li>
							<li><i class="bx bx-phone-call"></i><a href="tel:+01321654214">+01 321 654 214</a></li>
							<li><i class="bx bx-envelope"></i><a href="mailto:hello@yosr.com">hello@yosr.com</a></li>
						</ul>
					</div>
					<ul  class="social-link">
						<li><a href="#" target="_blank" class="d-block"><i class="bx bxl-facebook"></i></a></li>
						<li><a href="#" target="_blank" class="d-block"><i class="bx bxl-twitter"></i></a></li>
						<li><a href="#" target="_blank" class="d-block"><i class="bx bxl-instagram"></i></a></li>
						<li><a href="#" target="_blank" class="d-block"><i class="bx bxl-linkedin"></i></a></li>
						<li><a href="#" target="_blank" class="d-block"><i class="bx bxl-pinterest-alt"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-footer-widget pl-4">
					<h3>Trending</h3>
					<ul class="quick-links">
						<li><a href="./">Bikes</a></li>
						<li><a href="./">Watches</a></li>
						<li><a href="./">Books</a></li>
						<li><a href="./">Dogs</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h3>Popular</h3>
					<ul class="quick-links">
						<li><a href="./">Cars</a></li>
						<li><a href="./">Flats for rent</a></li>
						<li><a href="./">Mobile Phones</a></li>
						<li><a href="./">Jobs</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h3>Newsletter</h3>
					<div class="footer-newsletter-box">
						<p>To get the latest news and latest updates from us.</p>
						<form data-toggle="validator" class="newsletter-form">
							<label>Your E-mail Address:</label>
							<input type="email" placeholder="Enter your email" name="EMAIL" class="input-newsletter">
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom-area">
			<div class="row align-items-center">
				<div class="col-lg-12 col-md-12">
					<p>
                        Copyright 
                        <i class="bx bx-copyright"></i>2021 
                        <a href="#" target="_blank">Yosr</a> Designed By 
                        <a href="" target="_blank">Ahsan</a> | All rights reserved.
                    </p>
				</div>
			</div>
		</div>
	</div>
</footer>